body{
    background-color: rgb(180, 136, 231);
}
.container{
    margin-top: 30px;
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    border-radius: 21px;
    font-size: 5px solid #244624;
    font-size: 34px;
}
button{
    /* margin: 20px; */
    border-radius: 16px;
    font-size: 40px;
    background: palevioletred;
    width: 109px;
    height: 58px;
    margin: 6px;
    width: 100px;
}
h1{
    font-size: 70px;
}
.calculator{
    border: 2px solid white;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(241, 234, 234);
    display: inline-block;
}
